* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  width: 100%;
}

header {
  width: 100%;
  height: 70px;
  background-color: #F20041;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
}

header h1 {
  font-size: 1.5em;
}

header,
header ul li a {
  color: #fff;
  text-decoration: none;
}

header ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

header ul li {
  list-style: none;
}

header ul li:hover a {
  border-bottom: 3px solid #F7DB00;
}

main {
  padding-inline: 30px;
  background-color: #efefef;
}

main #about {
  padding-block: 30px;
  display: flex;
  flex-direction: column-reverse;
}

main #about aside img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

main .header {
  width: 100%;
  height: 35px;
  margin-bottom: 25px;
  border-bottom: 2px solid #F20041;
  font-size: 1.2rem;
}

main #about aside p {
  text-align: justify;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.produtos .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e3e3;
  padding-block: 10px;
  min-width: 260px;
  max-width: 360px;
}

.produtos .item img {
  width: 100%;
}

.produtos .item .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.produtos .item .info .por {
  font-size: 2rem;
  color: rgb(22, 178, 22);
}

.produtos .item .info .a-vista {
  font-size: .8rem;
}

.produtos .item .info button {
  width: 100%;
  height: 25px;
  border: 0;
  background-color: rgb(22, 178, 22);
  color: #fff;
}

@media (min-width: 641px) {

}